

body{
    background-color: steelblue;
}

*{
	box-sizing: border-box;
}

p{
	color: white;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

h1 {
	color: black;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

h3,h2,h5 {
	text-align: center;
	color:white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.video{
	align: center;
	width:90%;
	height: 60%;
	padding-left: 20%;
	padding-right: 5%;
	padding-top: 5%;
	
	
}

.img{
	text-align: center;
	width: 1000px;
	height:600px;
}
.box{
   float:left;
   padding: 20px;
   background:black;
   color: steelblue;
   border: 2px solid steelblue;
   border-radius: 5px;
   font-size: 16px;
   font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
 }

.box2{
   float:right;
   padding: 15px;
   background:black;
   color: steelblue;
   border: 2px solid steelblue;
   border-radius: 5px;
   font-size: 16px;
   font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
 }

.box3{
   text-align: center;
   padding: 30px;
   background:black;
   color: steelblue;
   border: 2px solid steelblue;
   border-radius: 5px;
   font-size: 16px;
   font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
 }

.link {
	color: white;
}

.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}

.navbar a {
  float: right;
  text-align: center;
  padding: 25px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: steelblue;
}

.active {
  background-color: steelblue;
}

